/*--------Zeroing out---------*/

html {
	box-sizing: border-box;
}

body{
    margin-top: 30px;
    max-width: 100%;
    background-color: #0B0B0D;
    margin: 0 auto;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

h1,h2,h3,p{
  margin: 0;
  color: white;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    margin: 0;
    padding: 0;
    color: white;
}

a {
	color: inherit;
	text-decoration: none;
    color: white;
}

img {
	max-width: 100%;
}

/* Section */

.section-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 97px;
}

.section-discr{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
}

.btn{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    background: none;
    box-sizing: border-box;
    cursor: pointer;
}
/*  Header  */

.header{
    display: flex;
    position: relative;;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 177px;
    z-index: 10;
    backdrop-filter:blur(25px);
}

.backimg{
    position: absolute;
    z-index: -10;
    left: -50px;
    top: -200px;
}

.header .container{
    width: 1340px;
    max-height: 75px;
    margin: 0 auto;
    display: flex;   
    align-items: center;
    justify-content: space-between;
    padding-top: 28px;
    padding-bottom: 28px;
    border-bottom: 1px solid white;
    
}

.header-list{
    list-style-type: none; 
    display: flex;
}

.header-link{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
}

.header-item:not(:last-child){
    margin-right: 52px;
}

.header-icon:not(:last-child){
    margin-right: 30px;
}

/* MAIN */

.box-title{
    z-index: 10;
    width: 890px;
    height: 174px;
    color: #FFFFFF;
    margin-bottom: 28px;
}

.section-subtitle{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
}

.hero-discr{
    width: 670px;
    height: 78px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    margin-bottom: 38px;
}

.powered{
    display: flex;
    flex-direction: column;
    margin-right: 37px;
}

.powered-discr{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12.9267px;
    line-height: 16px;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.tab-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 200px;
}

.btn-solana{
    padding: 10px 66px 10px 32px;
    background-image: url("/img/arrowmin.svg");
    background-repeat: no-repeat;
    background-position: center right 41px;
}



.carousel{
    display: flex;
    width: 100%;
    height: 76px;
    margin-bottom: 100px;
    align-items: center;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

.carousel-item{
    display: inline-block;
    height: 30px;
    background-image: url("../img/globe.png");
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 56px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.carousel-item:not(:last-child){
    margin-right: 20px;
}
/* hero */

.section-hero{
    width: 1440px;
    margin: 0 auto;
    z-index: 1;
    position: relative;
}

.section-hero .container{
    position: relative;
    z-index: 10;
}

.hero-img{
    position: absolute;
    right: 0;
    top: -277px;
}


.powered-title{
    background-image: url("/img/solana.svg");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
}


.music-work-title{
    margin-bottom: 36px;
    max-width: 684px;
}

.music-work-discr{
    max-width: 606px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
    margin-bottom: 270px;
}

.img-border-work{
    position: absolute;
    width: 485px;
    height: 415px;
    right: 80px;
    top: 6px;

    border: 1px solid #ffffff1f;
    border-radius: 15px;
    
}

.section-music-work{
    position: relative;
    left: 40px;
    max-width: 1440px;
    margin-bottom: 140px;
    margin: 0 auto;
}

.main-img{
    position: absolute;
    max-width: 570px;
    max-height: 384px;
    right: 112px;
    top: 121px;
}

.section-nft-marketplace{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-bottom: 211px;
}

.nft-title-box{
    display: flex;
    flex-direction: column;
}

.nft-marketplace-discr{
    max-width: 608px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    margin-bottom: 49px;
}

.nft-marketplace-list{
    display: flex;
    flex-wrap: wrap;
    max-width: 575px;
    margin-right: 154px;
    gap: 96px;
    list-style-type: none; 
}


.nft-marketplace-item{
    position: relative;
    max-width: 222px;
    max-height: 270px;
    border: 1px solid #ffffff1f;
    border-radius: 15px;
    width: 196px;
    height: 246px;
    z-index: 1;
}

.nft-marketplace-box{
    position: absolute;
    width: 193px;
    height: 194px;
    left: 28px;
    top: -28px;
}

.nft-marketplace-img{
    box-shadow: -12px 1px 20px 9px black;
    margin-bottom: 12px;
}

.btn-nft-marketplace{
    background-image: url("/img/arrowmin.svg");
    background-repeat: no-repeat;
    background-position: center right 41px;
    padding: 10px 66px 10px 32px;
}


.card-title-mp{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-bottom: 9px;
}

.card-price-mp{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;

    background-image: url("/img/solana.svg");
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 23px;
}

.section-engage{
    width: 1340px;
    margin: 0 auto;
}

.engage-title{
    margin-bottom: 80px;
}

.engage-list{
    display: flex;
    flex-direction: row;
}

.engage-item{
    max-width: 412px;
    height: 100%;
    list-style-type: none;
}

.engage-item:not(:last-child){
    margin-right: 62px;
}

.number-post{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 160%;
    color: #FFFFFF;

    margin-bottom: 35px;
}

.section-engage{
    margin-bottom: 151px;
}

.engage-discr{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
}

.section-discover{
    margin-bottom: 96px;
}

.section-discover .container{
    width: 1360px;
    margin: 0 auto;
}


.section-discover-header{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 125px;
}

.nav{
    display: flex;
}

.nav-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 16px;
}

.nav-section{
    display: flex;
    list-style-type: none
}

.nav-item:not(:last-child){
    margin-right: 15px;
}

.nav-link{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;

    padding: 10px 20px 10px 20px;
    border: 1px solid #A3A3A3;
    border-radius: 50px;
}

.discovet-card{
    display: flex;
    flex-wrap: wrap;
}

.card-item{
    list-style-type: none;
}

.card-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 23.9686px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.card-item{
    display: inline-block;
    position: relative;
    max-width: 405px;
    border: 1px solid #ffffff1f;
    border-radius: 15px;
    width: 378px;
    height: 455px;
}

.card-box-disc{
    position: absolute;
    left: 42px;
    top: -55px;

}

.card-price{
    margin-right: 130px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17.5034px;
    line-height: 21px;
    color: #FFFFFF;
}

.number-price{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17.5034px;
    line-height: 21px;
    color: #FFFFFF;
}

.card-item:not(:nth-child(3n)){
    margin-right: 100px;
    margin-bottom: 95px;
}

.card-item:nth-child(3n){
    margin-bottom: 95px;
}

.img-card{
    max-width: 358px;
    max-height: 289px;
    margin-bottom: 18px;
    box-shadow: -12px 1px 20px 9px black;
    border-radius: 10px;
}

.box-discr-disc{
    display: flex;
    margin-bottom: 30px;
}

.play-now{
    background-image: url("/img/arrowmiddle.svg");
    background-color: inherit;
    background-repeat: no-repeat;
    background-position: center right 26px;
    border: 1px solid white;
    border-radius: 50px;
    color: white;
    padding: 10px 50px 10px 20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16.4094px;
    line-height: 160%;

    margin-right: 18px;

    cursor: pointer;
}

.buy{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 19.6913px;
    line-height: 160%;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 8px 25px 8px 25px;

    background: linear-gradient(99.74deg, #06DBAC 5.23%, #BD00FF 92.7%);
    border-radius: 54.698px;
    cursor: pointer;
}

.discr-link{
    display: flex;
    justify-content: center;
}

.btn-discr-link{
    padding: 10px 66px 10px 32px;
    background-image: url("/img/arrowmin.svg");
    background-repeat: no-repeat;
    background-position: center right 41px;
}

.footer{
    width: 1360px;
    margin: 0 auto;
}

.footer-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 56px;
    color: #FFFFFF;

    margin-bottom: 46px;
}

.nav{
    display: flex;
    list-style-type: none;
}

.nav-con{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-link{
    display: inline-block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    height: 48px;
}

.nav-item-footer{
    margin-bottom: 40px;
}

.nav-item-footer:not(:last-child){
    margin-right: 42px;
    border-right: 1px solid white;
    padding-right: 42px;
}

.back-link{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;

    background-image: url("/img/arrowup.svg");
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 32px;
}

.cop-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;

    margin-bottom: 70px;

}

.footer-discr:not(:last-child){
    margin-right: 37px;
}

.cop-box-r{
    display: flex;

}