/*--------Zeroing out---------*/

html {
	box-sizing: border-box;
}

body{
    margin-top: 30px;
    max-width: 100%;
    background-color: #0B0B0D;
    margin: 0 auto;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

h1,h2,h3,p{
  margin: 0;
  color: white;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    margin: 0;
    padding: 0;
    color: white;
}

a {
	color: inherit;
	text-decoration: none;
    color: white;
}

img {
	max-width: 100%;
}

/* Section */

.section-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 97px;
}

.section-discr{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
}

.btn{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    background: none;
    box-sizing: border-box;
    cursor: pointer;
}
/*  Header  */

.header{
    display: flex;
    position: relative;;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 177px;
    z-index: 10;
    backdrop-filter:blur(25px);
}

.backimg{
    position: absolute;
    z-index: -10;
    left: -50px;
    top: -200px;
}

.header .container{
    width: 1340px;
    max-height: 75px;
    margin: 0 auto;
    display: flex;   
    align-items: center;
    justify-content: space-between;
    padding-top: 28px;
    padding-bottom: 28px;
    border-bottom: 1px solid white;
    
}

.header-list{
    list-style-type: none; 
    display: flex;
}

.header-link{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
}

.header-item:not(:last-child){
    margin-right: 52px;
}

.header-icon:not(:last-child){
    margin-right: 30px;
}

/* MAIN */

.box-title{
    z-index: 10;
    width: 890px;
    height: 174px;
    color: #FFFFFF;
    margin-bottom: 28px;
}

.section-subtitle{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
}

.hero-discr{
    width: 670px;
    height: 78px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;

    margin-bottom: 38px;
}

.powered{
    display: flex;
    flex-direction: column;
    margin-right: 37px;
}

.powered-discr{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12.9267px;
    line-height: 16px;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.tab-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 200px;
}

.btn-solana{
    padding: 10px 66px 10px 32px;
    background-image: url("/img/arrowmin.png");
    background-repeat: no-repeat;
    background-position: center right;
}



.carousel{
    display: flex;
    width: 100%;
    height: 76px;
    margin-bottom: 100px;
    align-items: center;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

.carousel-item{
    display: inline-block;
    height: 30px;
    background-image: url("../img/globe.png");
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 56px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.carousel-item:not(:last-child){
    margin-right: 20px;
}
/* hero */

.section-hero{
    width: 1440px;
    margin: 0 auto;
    z-index: 1;
    position: relative;
}

.section-hero .container{
    position: relative;
    z-index: 10;
}

.hero-img{
    position: absolute;
    right: 0;
    top: -277px;
    z-index: -9999;
}


.powered-title{
    background-image: url("/img/solana.svg");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
}